@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ga+Maamli&family=Oswald:wght@200..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    background-color: grey;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: cadetblue;    
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

}
.logo{
    display: flex;
    align-items: center;
    gap: 35px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    
}

h1{
    padding-bottom: 10px;
    color:white
}

img{
    width: 100px;
    height: 100px;
}

.header__list{
    display: flex;
    align-items: center;
    color: black;
    gap: 55px;
    
}

.header__list li a{
    padding:10px 25px ;
    background-color: white;
    border-radius: 15px;
}   

.box{
    min-width: 490px;
    height: 500px; 
    background-color: dodgerblue;
    border-radius: 40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 25px;
}
.output{
    min-width: 80%;
    height: 75px; 
    background-color: rgb(156, 214, 216);
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding-left: 15px;

}

.asd{
    width: 100%;
    height: 80%;
    background-color: rgb(71, 119, 221);
    border-radius: 15px;
    display: flex;
}


.numbers{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    transition: all ease 0.5;

}

.numbers div {
    background-color: rgb(216, 179, 15);
    width: 23.3%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all ease 0.5;
}

.activites{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;

}

.activites div{
    background-color: rgb(88, 231, 231);
    width: 60%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

.header__list li:hover{
    transform:scale(0.9);
    transition: all ease 0.2;
}


.numbers div:hover{
    transform:scale(0.9);
    transition: all ease 0.2;

}

.activites div:hover{
    transform:scale(0.9);
    transition: all ease 0.2;

}
